{% extends 'layout.html' %}

{% block title %}Über uns{% endblock %}

{% block content %}
  <h1>Über uns</h1>
    <p>Hi! Wir sind zwei Freunde die gerade mit dem programmieren begonnen haben </p>
    <p><strong>Unser Ziel</strong> :Eine einfache und verständliche Seite zu erstellen die alles rundum LGBTQia+ erklärt :D</p>
    <p><strong>Wir glauben</strong> :Wenn man einander besser versteht, wird diese curiose Welt ein bisschen besser :)</p>
    <p>Danke! Das du unsere Website besuchst und versuchst andere besser zu verstehen :3</p>



    <img src="https://www.mayergeyer.at/img/1800/1260/90/data/produkte/schoko.jpg" alt="du wichser" style="width:550px;height:500px;">
    
<!---<p>Einen sch</p> -->
{% endblock %}
